<a href="https://colab.research.google.com/github/rajshaiwalla/NLP-Submissions/blob/master/CreditCard_NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd #importing for using dataframes
from nltk import NaiveBayesClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [0]:
data = pd.read_csv("/content/UCI_Credit_Card.csv") #Reading the Office Products file

In [3]:
data.head(10) #viewing the first 10 rows of the data

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0
5   6    50000.0    1  ...    1000.0     800.0                           0
6   7   500000.0    1  ...   13750.0   13770.0                           0
7   8   100000.0    2  ...    1687.0    1542.0                           0
8   9   140000.0    2  ...    1000.0    1000.0                           0
9  10    20000.0    1  ...    1122.0       0.0                           0

[10 rows x 25 columns]

In [0]:
df = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [0]:
df = df.drop('ID',1)

In [0]:
X = df.drop("default.payment.next.month",1)
y = df["default.payment.next.month"]

In [0]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.25, random_state=42)

In [0]:
GNB = GaussianNB()

In [0]:
y_pred = GNB.fit(X_train, y_train).predict(X_test)

In [10]:
print(confusion_matrix(y_test, y_pred))

[[1417 4456]
 [ 186 1441]]

In [11]:
print(accuracy_score(y_test, y_pred))

0.38106666666666666

In [12]:
print(classification_report(y_test,GNB.predict(X_test)))

              precision    recall  f1-score   support

           0       0.88      0.24      0.38      5873
           1       0.24      0.89      0.38      1627

    accuracy                           0.38      7500
   macro avg       0.56      0.56      0.38      7500
weighted avg       0.75      0.38      0.38      7500