<a href="https://colab.research.google.com/github/rajshaiwalla/NLP-Submissions/blob/master/NounToVerbRatio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd #importing for using dataframes
import spacy #importing spacy

In [0]:
sp = spacy.load('en')

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True) #Reading the Office Products file

In [4]:
data.head(10) #viewing the first 10 rows of the data

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
5  A2JFOHC9W629IE  B00000JBLH  ...     1011744000  01 23, 2002
6  A38NELQT98S4H8  B00000JBLH  ...     1168992000  01 17, 2007
7   AA8M6331NI1EN  B00000JBLH  ...     1384387200  11 14, 2013
8  A25C2M3QF9G7OQ  B00000JBLU  ...     1291680000   12 7, 2010
9  A1RTVWTWZSIC94  B00000JBLU  ...     1385942400   12 2, 2013

[10 rows x 9 columns]

In [0]:
df = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [6]:
line = df['reviewText'][0] #storing the string as 'line'
line

"I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!"

In [0]:
x = sp(line)

In [0]:
def NounToVerbRatio(F):

  sentence = sp(F) #applying spacey to sentence
  noun_count = 0
  verb_count = 0 
  ratio = 0

  for x in sentence:
    if (x.pos_== "PROPN")|(x.pos_ =="NOUN"): #checking if word is propernoun or noun
      noun_count += 1
    elif x.pos_ == 'VERB': #checking if word is verb
      verb_count += 1
  if (verb_count == 0):
    ratio = 0
  else:
   ratio = noun_count/verb_count #calculating noun:verb ratio

  final = {'Number of Nouns' : noun_count,'Number of Verbs' : verb_count,'Noun:Verb' : ratio}
  return final

In [0]:
test = df['reviewText'][0:50] #making a 'test' dataframe of df consisting first 50 rows
test = pd.DataFrame(test)

In [0]:
test['NounToVerbRatio'] = test['reviewText'].apply(NounToVerbRatio) #apply NounToVerbRatio to test df

In [11]:
test.head()

                                          reviewText                                    NounToVerbRatio
0  I bought my first HP12C in about 1984 or so, a...  {'Number of Nouns': 29, 'Number of Verbs': 39,...
1  WHY THIS BELATED REVIEW? I feel very obliged t...  {'Number of Nouns': 310, 'Number of Verbs': 14...
2  I have an HP 48GX that has been kicking for mo...  {'Number of Nouns': 19, 'Number of Verbs': 19,...
3  I've started doing more finance stuff recently...  {'Number of Nouns': 172, 'Number of Verbs': 12...
4  For simple calculations and discounted cash fl...  {'Number of Nouns': 32, 'Number of Verbs': 25,...

In [12]:
test['NounToVerbRatio'][0]

{'Noun:Verb': 0.7435897435897436, 'Number of Nouns': 29, 'Number of Verbs': 39}