<a href="https://colab.research.google.com/github/rajshaiwalla/NLP-Submissions/blob/master/Office_Product_Reviews_(Amazon)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd #importing for using dataframes
import gzip #importing for unzipping the file for reading it
from collections import Counter #importing to use it to count

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True) #Reading the Office Products file

In [3]:
data.head(10) #viewing the first 10 rows of the data

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
5  A2JFOHC9W629IE  B00000JBLH  ...     1011744000  01 23, 2002
6  A38NELQT98S4H8  B00000JBLH  ...     1168992000  01 17, 2007
7   AA8M6331NI1EN  B00000JBLH  ...     1384387200  11 14, 2013
8  A25C2M3QF9G7OQ  B00000JBLU  ...     1291680000   12 7, 2010
9  A1RTVWTWZSIC94  B00000JBLU  ...     1385942400   12 2, 2013

[10 rows x 9 columns]

Implementing Using Basics

In [0]:
df = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [0]:
def word_count(str): #defining a function to split the words existing in the cell and retrning the count or number of times each word is present in the cell in the form of a dictionary.
  count = dict()
  words = str.split()
  for word in words:
    if word in count:
      count[word]+=1
    else:
      count[word]=1
  return count

In [0]:
df['reviewText']=df['reviewText'].apply(word_count)

In [7]:
df['reviewText'][0]

{'(now': 1,
 '12C,': 2,
 '1984': 1,
 '2002': 1,
 '49G': 3,
 '49G+)': 1,
 '49G.': 1,
 'HP': 3,
 'HP12C': 2,
 'I': 7,
 "I'm": 1,
 'It': 1,
 "It's": 1,
 'So,': 1,
 'The': 2,
 'What': 1,
 'a': 5,
 'about': 1,
 'an': 1,
 'and': 5,
 'another': 1,
 'applications': 1,
 'are': 1,
 'area.': 1,
 'as': 1,
 'aside': 1,
 'at': 1,
 'back': 1,
 'basic': 1,
 'batteries': 1,
 'be': 3,
 'best.': 1,
 'bought': 1,
 'business': 1,
 'but': 3,
 'buy': 1,
 'by': 1,
 'calculator,': 1,
 'come': 1,
 'coming': 1,
 'counterintuitive...and': 1,
 'decade': 1,
 'decided': 1,
 "didn't": 1,
 'difficult': 1,
 'disaster.The': 1,
 'does': 2,
 'even': 1,
 'extremely': 1,
 'faithfully': 1,
 'first': 1,
 'flagship': 1,
 'for': 4,
 'found': 1,
 'friend.': 1,
 'good': 1,
 'hand,': 1,
 'have': 1,
 'home!': 1,
 'in': 5,
 'is': 1,
 'it': 3,
 'it,': 1,
 'know': 1,
 'line,': 1,
 'looking': 1,
 'lost': 1,
 'makes': 2,
 'manual': 2,
 'many': 2,
 'may': 2,
 'me': 2,
 'me.If': 1,
 'mistake!': 1,
 'move': 1,
 'my': 4,
 'need': 1,
 'of': 2,
 'old': 1,
 'on': 1,
 'one': 2,
 'or': 1,
 "order.I'm": 1,
 'other': 1,
 'over': 1,
 'people': 1,
 'powerful,': 1,
 'programmable.': 1,
 'purchased': 1,
 'ready': 1,
 'reliable': 1,
 'replace': 2,
 'running': 1,
 'searched': 1,
 'sense': 1,
 'sense;': 1,
 'served': 1,
 'set': 1,
 'short': 1,
 'sketchy': 1,
 'so,': 1,
 'solid,': 1,
 'statistics': 1,
 'that': 3,
 'the': 7,
 'to': 7,
 'too.': 1,
 'travelling.': 1,
 'until': 1,
 'up': 2,
 'use!HP': 1,
 'using': 1,
 'view': 1,
 'was': 2,
 'way': 1,
 'well': 1,
 'well,': 1,
 'what': 1,
 'when': 1,
 'while': 1,
 'will': 1,
 'you': 2,
 'you.': 1}

In [0]:
df['summary']=df['summary'].apply(word_count)

In [9]:
df['summary'][0]

{'A': 1,
 'and': 1,
 'friend': 1,
 'long': 1,
 'performer,': 1,
 'solid': 1,
 'time': 1}

Implementing Using Counter

In [0]:
df1 = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [0]:
df1['reviewText1'] = df1['reviewText'].apply(lambda x:Counter(x.split())) #function to split the words existing in the cell and retrning the count or number of times each word is present in the cell in the form of a dictionary.

In [12]:
df1['reviewText1'][0] #testing for the first cell

Counter({'(now': 1,
         '12C,': 2,
         '1984': 1,
         '2002': 1,
         '49G': 3,
         '49G+)': 1,
         '49G.': 1,
         'HP': 3,
         'HP12C': 2,
         'I': 7,
         "I'm": 1,
         'It': 1,
         "It's": 1,
         'So,': 1,
         'The': 2,
         'What': 1,
         'a': 5,
         'about': 1,
         'an': 1,
         'and': 5,
         'another': 1,
         'applications': 1,
         'are': 1,
         'area.': 1,
         'as': 1,
         'aside': 1,
         'at': 1,
         'back': 1,
         'basic': 1,
         'batteries': 1,
         'be': 3,
         'best.': 1,
         'bought': 1,
         'business': 1,
         'but': 3,
         'buy': 1,
         'by': 1,
         'calculator,': 1,
         'come': 1,
         'coming': 1,
         'counterintuitive...and': 1,
         'decade': 1,
         'decided': 1,
         "didn't": 1,
         'difficult': 1,
         'disaster.The': 1,
         'does': 2,
         'even': 1,
         'extremely': 1,
         'faithfully': 1,
         'first': 1,
         'flagship': 1,
         'for': 4,
         'found': 1,
         'friend.': 1,
         'good': 1,
         'hand,': 1,
         'have': 1,
         'home!': 1,
         'in': 5,
         'is': 1,
         'it': 3,
         'it,': 1,
         'know': 1,
         'line,': 1,
         'looking': 1,
         'lost': 1,
         'makes': 2,
         'manual': 2,
         'many': 2,
         'may': 2,
         'me': 2,
         'me.If': 1,
         'mistake!': 1,
         'move': 1,
         'my': 4,
         'need': 1,
         'of': 2,
         'old': 1,
         'on': 1,
         'one': 2,
         'or': 1,
         "order.I'm": 1,
         'other': 1,
         'over': 1,
         'people': 1,
         'powerful,': 1,
         'programmable.': 1,
         'purchased': 1,
         'ready': 1,
         'reliable': 1,
         'replace': 2,
         'running': 1,
         'searched': 1,
         'sense': 1,
         'sense;': 1,
         'served': 1,
         'set': 1,
         'short': 1,
         'sketchy': 1,
         'so,': 1,
         'solid,': 1,
         'statistics': 1,
         'that': 3,
         'the': 7,
         'to': 7,
         'too.': 1,
         'travelling.': 1,
         'until': 1,
         'up': 2,
         'use!HP': 1,
         'using': 1,
         'view': 1,
         'was': 2,
         'way': 1,
         'well': 1,
         'well,': 1,
         'what': 1,
         'when': 1,
         'while': 1,
         'will': 1,
         'you': 2,
         'you.': 1})

In [0]:
df1['summary1'] = df1['summary'].apply(lambda x:Counter(x.split()))

In [14]:
df1['summary1'][0]

Counter({'A': 1,
         'and': 1,
         'friend': 1,
         'long': 1,
         'performer,': 1,
         'solid': 1,
         'time': 1})