<a href="https://colab.research.google.com/github/rajshaiwalla/NLP-Submissions/blob/master/Twitter_Corpus_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.2.1)

In [0]:
pip install glove_python

Requirement already satisfied: glove_python in /usr/local/lib/python3.6/dist-packages (0.1.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.17.4)

In [0]:
import pandas as pd #importing for using dataframes
import nltk
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob import TextBlob as tb
from sklearn.metrics import confusion_matrix, accuracy_score

In [0]:
url = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv'
data = pd.read_csv(url, error_bad_lines=False)

In [0]:
data.head(10) #viewing the first 10 rows of the data

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...
5  apple  ...  I'm a current @Blackberry user, little bit dis...
6  apple  ...  The 16 strangest things Siri has said so far. ...
7  apple  ...  Great up close & personal event @Apple tonight...
8  apple  ...  From which companies do you experience the bes...
9  apple  ...  Just apply for a job at @Apple, hope they call...

[10 rows x 5 columns]

In [0]:
df = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [0]:
df.shape

(5113, 5)

In [0]:
line = df['TweetText'][1] #storing the string as 'line'
line

'@Apple will be adding more carrier support to the iPhone 4S (just announced)'

In [0]:
blob1 = tb(line)

In [0]:
print(format(blob1.sentiment))

Sentiment(polarity=0.5, subjectivity=0.5)

In [0]:
def TweetSent(str):
  return tb(str).sentiment.polarity

In [0]:
df.SentimentPolarity = df.TweetText.apply(TweetSent)
df.SentimentPolarity

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

0       0.000000
1       0.500000
2       0.393750
3       0.541667
4       0.200000
          ...
5108    0.000000
5109    0.500000
5110   -0.250000
5111    0.000000
5112    0.000000
Name: TweetText, Length: 5113, dtype: float64

In [0]:
analyzer = SentimentIntensityAnalyzer()

In [0]:
def Vader_Polarity(str):
  score = analyzer.polarity_scores(str)
  return score

In [0]:
df.VaderPolarity = df.TweetText.apply(Vader_Polarity)
df.VaderPolarity

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

0       {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1       {'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp...
2       {'neg': 0.0, 'neu': 0.591, 'pos': 0.409, 'comp...
3       {'neg': 0.0, 'neu': 0.814, 'pos': 0.186, 'comp...
4       {'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'comp...
                              ...
5108    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5109    {'neg': 0.0, 'neu': 0.7, 'pos': 0.3, 'compound...
5110    {'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp...
5111    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5112    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: TweetText, Length: 5113, dtype: object

In [0]:
#def sentimentNltk(tweet):
 # ss = SentimentIntensityAnalyzer().polarity_scores(tweet)
  #m = max(ss, key = ss.get)
  # = {}
  #d[m] = ss[m]
  #return d

In [0]:
def sentimentNltk(tweet):
  x = SentimentIntensityAnalyzer().polarity_scores(tweet)

  if x['compound']>=0.05:
    return 'positive'
  elif x['compound']<=-0.05:
    return 'negative'
  else:
    return 'neutral'

In [0]:
df.TweetKey = df.TweetText.apply(sentimentNltk)
TweetKey = df.TweetKey
TweetKey

0        neutral
1       positive
2       positive
3       positive
4       positive
          ...
5108     neutral
5109    positive
5110    negative
5111     neutral
5112     neutral
Name: TweetText, Length: 5113, dtype: object

In [0]:
set(TweetKey)

{'negative', 'neutral', 'positive'}

In [0]:
set(df['Sentiment'])

{'irrelevant', 'negative', 'neutral', 'positive'}

In [0]:
confusion_matrix(df['Sentiment'], TweetKey)

array([[   0,  237, 1189,  263],
       [   0,  290,  139,  143],
       [   0,  302, 1233,  798],
       [   0,   47,   99,  373]])

In [0]:
accuracy_score(df['Sentiment'], TweetKey)

0.3708194797574809

In [0]:
from glove import Corpus, Glove