<a href="https://colab.research.google.com/github/rajshaiwalla/NLP-Submissions/blob/master/Vowels_%26_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd #importing for using dataframes
import gzip #importing for unzipping the file for reading it
from collections import Counter #importing to use it to count

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True) #Reading the Office Products file

In [3]:
data.head(10) #viewing the first 10 rows of the data

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
5  A2JFOHC9W629IE  B00000JBLH  ...     1011744000  01 23, 2002
6  A38NELQT98S4H8  B00000JBLH  ...     1168992000  01 17, 2007
7   AA8M6331NI1EN  B00000JBLH  ...     1384387200  11 14, 2013
8  A25C2M3QF9G7OQ  B00000JBLU  ...     1291680000   12 7, 2010
9  A1RTVWTWZSIC94  B00000JBLU  ...     1385942400   12 2, 2013

[10 rows x 9 columns]

In [0]:
df = data.copy() #making a copy of the data and storing it in 'df' to leave the original data unaltered.

In [0]:
vowels = ['a','e','i','o','u']

In [0]:
def split(x):
  return list(x)

In [0]:
def func(text):
  counter = {"vowels":0,"cons":0,"total":0}
  for word in text:
    words = split(word)
    for word in words:
      if word in vowels:
        counter["vowels"]+=1
      else:
        counter["cons"]+=1
      counter['total']+=1
  return counter

In [0]:
df['ReviewCounter'] = df['reviewText'].apply(lambda x:func(x))

In [9]:
df['ReviewCounter'][0]

{'cons': 705, 'total': 972, 'vowels': 267}

In [10]:
(len(df['reviewText'][0])) == df['ReviewCounter'][0]['total']

True

In [13]:
df['reviewText'][0]

"I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!"

Words starting with 'B' or ending with 'G'
---

In [0]:
import re

In [0]:
x = re.findall("^hello", str)
if (x):
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

  x = re.findall("world$", str)
if (x):
  print("Yes, the string ends with 'world'")
else:
  print("No match")

str = df['reviewText'][0]
x = re.findall("^Bb" | "gG$",str)

In [37]:
line = df['reviewText'][0]
line = re.sub(r'[^A-Za-z0-9\s]','',line)
line
y = line.split()
y

['I',
 'bought',
 'my',
 'first',
 'HP12C',
 'in',
 'about',
 '1984',
 'or',
 'so',
 'and',
 'it',
 'served',
 'me',
 'faithfully',
 'until',
 '2002',
 'when',
 'I',
 'lost',
 'it',
 'while',
 'travelling',
 'I',
 'searched',
 'for',
 'another',
 'one',
 'to',
 'replace',
 'it',
 'but',
 'found',
 'one',
 'difficult',
 'to',
 'come',
 'by',
 'in',
 'my',
 'area',
 'So',
 'I',
 'decided',
 'to',
 'buy',
 'up',
 'and',
 'purchased',
 'an',
 'HP',
 '49G',
 'What',
 'a',
 'mistake',
 'I',
 'know',
 'that',
 'many',
 'people',
 'view',
 'the',
 'HP',
 '49G',
 'now',
 '49G',
 'as',
 'the',
 'flagship',
 'of',
 'the',
 'HP',
 'line',
 'but',
 'for',
 'me',
 'that',
 'was',
 'a',
 'disasterThe',
 '49G',
 'may',
 'be',
 'powerful',
 'but',
 'using',
 'it',
 'is',
 'extremely',
 'counterintuitiveand',
 'the',
 'manual',
 'was',
 'sketchy',
 'at',
 'best',
 'The',
 '12C',
 'on',
 'the',
 'other',
 'hand',
 'does',
 'what',
 'I',
 'need',
 'in',
 'a',
 'way',
 'that',
 'makes',
 'good',
 'sense',
 'to',
 'meIf',
 'you',
 'are',
 'looking',
 'for',
 'a',
 'solid',
 'reliable',
 'calculator',
 'the',
 'HP12C',
 'may',
 'be',
 'for',
 'you',
 'Its',
 'programmable',
 'It',
 'does',
 'basic',
 'statistics',
 'well',
 'and',
 'many',
 'business',
 'applications',
 'too',
 'The',
 'manual',
 'makes',
 'sense',
 'you',
 'will',
 'be',
 'up',
 'and',
 'running',
 'in',
 'short',
 'orderIm',
 'ready',
 'to',
 'set',
 'my',
 '49G',
 'aside',
 'and',
 'move',
 'back',
 'to',
 'my',
 'old',
 'friend',
 'I',
 'didnt',
 'even',
 'have',
 'to',
 'replace',
 'the',
 'batteries',
 'in',
 'well',
 'over',
 'a',
 'decade',
 'of',
 'useHP',
 '12C',
 'Im',
 'coming',
 'home']

In [40]:
x = re.findall(r"\s[Bb]\w*\s|\s\w*[gG]\s", line)
print(x)

[' bought ', ' travelling ', ' but ', ' by ', ' buy ', ' 49G ', ' 49G ', ' 49G ', ' but ', ' 49G ', ' be ', ' but ', ' best ', ' looking ', ' be ', ' basic ', ' business ', ' be ', ' running ', ' 49G ', ' back ', ' batteries ', ' coming ']

In [41]:
x = re.findall(r"\s[Bb]\w+\s|\s\w+[gG]\s", line)
print(x)

[' bought ', ' travelling ', ' but ', ' by ', ' buy ', ' 49G ', ' 49G ', ' 49G ', ' but ', ' 49G ', ' be ', ' but ', ' best ', ' looking ', ' be ', ' basic ', ' business ', ' be ', ' running ', ' 49G ', ' back ', ' batteries ', ' coming ']

In [43]:
x = re.findall(r"\B[Bb]|[gG]\B", line)
print(x)

['g', 'b', 'g', 'g', 'b', 'g', 'b']